# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_CHECKOUT_PAYMENT_METHODS=card,klarna,afterpay_clearpay
STRIPE_SUCCESS_URL=http://localhost:3000/orders?checkout=success
STRIPE_CANCEL_URL=http://localhost:3000/checkout?checkout=cancelled

# Auth0
AUTH0_SECRET=
AUTH0_BASE_URL=http://localhost:3000
AUTH0_ISSUER_BASE_URL=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/positiveonworldwide?schema=public"
