@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-gray-200 dark:border-gray-800;
  }
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  body {
    @apply bg-brand-dark text-brand-light antialiased;
  }
  a,
  button,
  input,
  textarea,
  select {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-lime-300 focus-visible:ring-offset-2 focus-visible:ring-offset-black;
  }
  input,
  textarea,
  select {
    font-size: 16px;
  }
}
